
/*--------------------------------------------------------------slider*/
div.main_slider_wrap{
    width: 100%; height: 100vh;
    background-color: #fcbe44;
    position: relative;
    overflow: hidden;
}
main section.main_slider{
    width: 100%; height: 100vh;
}
main section.main_slider article.slide{
    width: 100%; height: 100vh;
    padding: 15% 25%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
main section.main_slider article.s1{
    background-color: #fcbe44;
}
main section.main_slider article.s2{
    background-color: #d3c4ba;
}
main section.main_slider article.s3{
    background-color: darkred;
}
main section.main_slider article.slide div.m_s_con{
    width: 50%; height: auto;
    float: left;
    position: inherit;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
}
/*textbox*/
main section.main_slider div.main_slider_txt h1{
    font-size: 48px; 
    color: white;
    line-height: 50px;
}
main section.main_slider div.main_slider_txt p{
    padding: 20px 0 50px;
    font-size: 16px; 
    color: white;
    letter-spacing: 0;
    line-height: 25px;
}
a.more{
    width: 200px; height: 50px;
    display: inline-block;
    transition-duration: 1s;
}
a.more div{
    float: left;
    display: inline-block;
    font-size: 20px; 
    color: white;
    line-height: 50px;
}
a.more img{
    height: 30px;
    float: left;
    padding: 10px;
}
a.more:hover{
    margin-left: 1%;
}
a.more:hover img{
    margin-left: 5%;
    transition-duration: 1s;
}
main section.main_slider div.main_slider_txt div.slider_nav ul li{
    float: left;
    margin-right: 10px;
    font-size: 16px; 
    color: white;
}
main section.main_slider div.main_slider_txt div.slider_nav ul li img{
    width: 20px;
}
/*img box*/
/*----------------------------------slider1*/
main section.main_slider article.s1 div.main_slider_img div img{
    width: 110%;
    position: relative;
    z-index: 2;
}
main section.main_slider div.s1_b{
    width: 110%; height: 110%;
    position: absolute;
    top: 0; right: -10%;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
main section.main_slider div.slider1_back1{
    background-image: url(../img/slider/slider1_back1.png)
}
main section.main_slider div.slider1_back2{
    background-image: url(../img/slider/slider1_back2.png);
    animation: rotate10 2s infinite;
}
main section.main_slider div.slider1_back3{
    background-image: url(../img/slider/slider1_back3.png);
    animation-name: rotate-10 2s infinite;
}
main section.main_slider div.slider1_back4{
    background-image: url(../img/slider/slider1_back4.png)
}
main section.main_slider div.slider1_back5{
    background-image: url(../img/slider/slider1_back5.png);
    z-index: 2;
}
/*---------------------------------------------------이거뺄가봐
main section.main_slider div.slider1_back6{
    width: 25%; height: 42%;
    top: 0; right: -50px;
    background-size: cover;
    z-index: 1;
    background-image: url(../img/slider/slider1_back6.png);
    transform: rotate(150deg);
}
*/
/*----------------------------slider2*/
main section.main_slider article.s2 div.main_slider_img div img{
    width: 70%;
    margin-left: 15%;
    position: relative;
    z-index: 2;
}
main section.main_slider div.s2_b{
    width: 110%; height: 160%;
    position: absolute;
    top: -40%; right: -5%;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
main section.main_slider div.slider2_back1{
    background-image: url(../img/slider/slider2_back1.png);
}
main section.main_slider div.slider2_back2{;
    background-image: url(../img/slider/slider2_back3.png);
    animation: rotate-10 2s infinite;
    z-index: 3;
}
main section.main_slider div.slider2_back5{
    background-image: url(../img/slider/slider2_back5.png);
    animation: rotate-10 2s infinite;   
}
main section.main_slider div.slider2_back6{
    background-image: url(../img/slider/slider2_back6.png);
    animation: rotate10 2s infinite;
    z-index: 3;
}
/*
main section.main_slider div.slider2_back4{
    width: 18%; height: 30%;
    position: absolute;
    top: 65%; right: 10%;
    background-image: url(../img/slider/slider2_back4.png);
    background-size: cover;
    z-index: 1;
}
main section.main_slider div.slider2_back4-1{
    width: 40%;; height: 40%;;
    position: absolute;
    top: 45%; right: 20%;
    background-image: url(../img/slider/slider2_back4_1.png);
    background-size: cover;
    z-index: 1;
    animation: rotate360 2s infinite;
}
*/
/*-------------------------------------------slider3*/
main section.main_slider article.s3 div.main_slider_img div img{
    width: 80%;    
    margin-left: 10%;
    position: relative;
    z-index: 2;
}
main section.main_slider div.s3_b{
    width: 110%; height: 110%;
    position: absolute;
    top: -20%; right: -15%;
    background-size: cover;
    z-index: 1;    
}
main section.main_slider div.slider3_back1{
    background-image: url(../img/slider/slider3_back1.png);
}
main section.main_slider div.slider3_back2{
    background-image: url(../img/slider/slider3_back2.png);
    animation: rotate10 2s infinite;
}
main section.main_slider div.slider3_back3{
    background-image: url(../img/slider/slider3_back3.png);
    z-index: 3;
    width: 100%; height: 110%;
    top: -10%; right: 10%;    
}
/*animation*/

@keyframes rotate-10{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(-10deg);
    }
    40%{
        transform: rotate(0deg);0
    }
}
@keyframes rotate360{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotate10{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(10deg);
    }
    40%{
        transform: rotate(0deg);
    }
}
/*-----------------------------------------------------------------best*/
h2{
    height: 100px;
    text-align: center;
    font-size: 48px;
    color: black;
}
html, section.main_best{
    position: relative;
}
main section.main_best{
    width: 85%; height: 1000px;
    margin: 0 auto;
    padding: 200px 0 100px;
    box-sizing: border-box;
}
main section.main_best article.swiper-container{
    width: 100%; height: 500px;
    padding: 50px 0;
}
main section.main_best article ul li.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}
main section.main_best article ul li div{
    height: 400px;
}
main section.main_best article ul li p{
    width: 100%; height: 100px;
    text-align: center;
    line-height: 100px;
    letter-spacing: 0;
    font-size: 18px;
}
main section.main_best div.best_more{
    width: 100%; height: 50px;
}
main section.main_best a.more{
    float: right;
}
main section.main_best a.more div{
    font-weight: bold;
    color: black;
}
main section.main_best a.more:hover{
    padding-left: 1%;
    box-sizing: border-box;   
}
/*-------------------------------------------------------------------------video*/

main section.main_video{
    width: 100%; height: 1200px;
    padding: 10% 0;
    background-image: url(../img/background_honey.png);
    background-position: center -50px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
main section.main_video div.pr_video{
    width: 65vw; height: 37vw;
}
iframe{
    width: 100%; height: 100%;
}
main section.main_video div.m_v_flower1{
    width: 30%; height: 30%;
    min-width: 350px; min-height: 300px;
    position: absolute;
    top: 25%; right: -50px;
    background-image: url(../img/flower_right.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
main section.main_video div.m_v_bee1{
    width: 4%; height: 6%;
    min-width: 40px; min-height: 40px;
    position: absolute;
    top: 15%; right: 10%;
    background-image: url(../img/picto_bee_.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(240deg);
}
main section.main_video div.m_v_bee2{
    width: 4%; height: 6%;
    min-width: 40px; min-height: 40px;
    position: absolute;
    top: 10%; right: 15%;
    background-image: url(../img/picto_bee_.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(300deg);
}
/*--------------------------------------------------------------products*/
main section.main_products{
    width: 85%;
    margin: 0 auto;
    position: relative;
}
main section.main_products article{
    height: 100vh;
}
main section.main_products article div{
    width: 33.33%; height: auto;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}
main section.main_products article div.products_con2{
    margin-top: 150px;
}
main section.main_products article div a{
    width: 100%; height: 600px;
    display: inline-block;
    float: left;
    text-align: center;
}
main section.main_products article div a img{
    width: 100%;
}
main section.main_products article div a p{
    height: 100px;
    margin-top: -8px;
    padding-top: 30px;
    box-sizing: border-box;
    font-size: 36px; 
    color: black;
}
/*-------------------------------------------------------------- sns*/
main section.main_sns{
    width: 85%; height: 100vh;
    margin: 0 auto;
    padding: 0 10%;
    box-sizing: border-box;
    position: relative;
}
main section.main_sns article{
    width: 100%;
    padding-top: 200px;
    margin: 0 auto;
}
main section.main_sns article div{
    width: 25%;
    float: left;
    overflow: hidden;
    position: relative;
    font-size: 0;
}
main section.main_sns article div a{
    width: 100%; height: 100%; 
    display: inline-block;
}
main section.main_sns article div img{
    width: 100%;
    transition: transform 0.5s;
    
}
main section.main_sns article div div.main_sns_like{
    width: 100%; height: 100%; 
    position: absolute;
    top: 0; left: 0;
    background-color: rgb(0,0,0,0.5);
    display: table;
    opacity: 0;
}
main section.main_sns article div div.main_sns_like p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    letter-spacing: 0;
    font-weight: bold;
    font-size: 18px;    
}
main section.main_sns article div:hover img{
    transform: scale(1.1)
}
main section.main_sns article div:hover div.main_sns_like{
    opacity: 100;
}
/*-----------------------illu*/
div.bottom_img_tree{
    width: 30vw; height: 25vw;
    background-image: url(../img/bottom_img_leap.png);
    background-size: cover;
    position: absolute;
    top: -15%; left: -10%;
}
div.bottom_img_flowerpot{
    width: 20vw; height: 22vw;
    background-image: url(../img/bottom_img_flowerpot.png);
    background-size: cover;
    position: absolute;
    bottom: -5%; right: -8%;
}
div.bottom_img_bee{
    width: 4%; height: 7%;
    min-width: 40px; min-height: 40px;
    position: absolute;
    top: -10%; left: 20%;
    background-image: url(../img/picto_bee_.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(320deg);
}

/*반응형*/
/*--------------------------1200*/
@media screen and (max-width: 1199px){
    main section.main_slider article.slide {
        padding: 10% 15%;
    }
    main section.main_slider div.main_slider_txt h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 36px;
    }
    main section.main_video{
        height: 1000px;
        background-size: 1400px;
    }
    main section.main_best {
        width: 100%;
    }
    main section.main_products {
        width: 100%;
    }
    main section.main_products article div {
        padding: 30px;
    }
    main section.main_products article div a p {
        font-size: 24px;
        letter-spacing: 3px;
    }
    main section.main_sns {
        width: 100%;
    }
    div.bottom_img_tree{
        top: -15%; left: 0%;
    }
    div.bottom_img_flowerpot{
        bottom: 0%; right: 0;
    }
    div.bottom_img_bee{
        top: -15%; left: 25%;
    }
}
@media screen and (max-width: 768px){
    main section.main_slider article.slide {
        padding: 10% 10%;
    }
    main section.main_video {
        height: 900px;
    }
    main section.main_video div.pr_video{
        width: 100vw; height: 55vw;
    }
    main section.main_video div.m_v_flower1{
        top: 55%; right: -50px;
    }
    main section.main_video div.m_v_bee1{
        top: 48%; right: 10%;
    }
    main section.main_video div.m_v_bee2{
        top: 45%; right: 15%;
    }
    main section.main_products article div {
        padding: 10px;
    }
    main section.main_products article div a{
        height: 400px;
    }
    div.bottom_img_tree{
        width: 40vw; height: 33vw;
    }
    div.bottom_img_flowerpot{
        width: 35vw; height: 40vw;
    }
}
@media screen and (max-width: 480px){
    main section.main_slider article.slide {
        padding: 25% 5% 10%;
    }
    main section.main_slider article.slide div.m_s_con{
        width: 100%; height: 50%;
        float: none;
        top: 0;
        transform: none;
    }
    main section.main_slider div.s2_b{
        width: 100%; height: 140%;
        top: -20%; right: -5%;
    }
    main section.main_slider div.s3_b {
        width: 115%; height: 85%;
        right: 0%;
    }
    main section.main_slider div.slider3_back3 {
        width: 60%; height: 80%;
        top: -10%; left: -3%;
    }
    main section.main_video {
        height: 700px;
        background-position: center 10%;
        background-size: 1000px;
    }
    main section.main_video div.m_v_flower1{
        top: 45%; right: -50px;
        min-width: 300px; min-height: 250px;
    }
    main section.main_video div.m_v_bee1{
        top: 38%; right: 10%;
    }
    main section.main_video div.m_v_bee2{
        top: 35%; right: 30%;
    }
    main section.main_products article {
        height: 1700px;
    }
    main section.main_products article div {
        width: 100%;
        padding: 0 80px;
    }
    main section.main_products article div.products_con2 {
        margin-top: 0;
    }
    main section.main_products article div a{
        height: 500px;
    }
    main section.main_products article div a p {
        font-size: 24px;
    }
    main section.main_sns article {
        padding-top: 0;
    }
    main section.main_sns article div {
        width: 50%; height: 40vw
    }
}
@media screen and (max-width: 380px){
    main section.main_best article.swiper-container {
        width: 100%;
        height: 450px;
        padding: 10px 0;
    }
    main section.main_products article {
        height: 1500px;
    }
    main section.main_products article div a{
        height: 400px;
    }
}