main section.title_name{
    width: 100%; height:500px;
    background-image: url(../img/product_Back.jpg);
    background-size: cover;
    background-position: 75%;
}
main section.title_name article{
    width: 100%; height:500px;
    background-color: rgb(0,0,0,0.3);
    text-align: center;
    line-height: 500px;
    font-size: 48px;
    color: white;
}

/**/
main section.content{
    width: 85%; height: 100%;
    margin: 0 auto;
}

/*pro_lnb*/
main section.content article.pro_lnb{
    width: 100%; height: 200px;
    text-align: center;
    padding: 75px 0;
    box-sizing: border-box;
}
main section.content article.pro_lnb ul{
    height: 50px;
    display: inline-block;
}
main section.content article.pro_lnb ul li{
    float: left;
}
main section.content article.pro_lnb ul li a{
    height: 50px;
    display: inline-block;
    padding: 0 20px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}
main section.content article.pro_lnb ul li a:hover{
    color: #fcbe44;
}
main section.content article.pro_lnb ul li a span{
    color: #fcbe44;
    font-weight: 600;
    position: relative;
}
main section.content article.pro_lnb ul li a span::after{
    content: " ";
    width: 100%; height: 1px;
    background-color: #fcbe44;
    position: absolute;
    bottom: -7px; left: 0;
}



/*pro_list*/
main section.content article.pro_list{
    padding-top: 100px;
}
main section.content article.pro_list div.pro_list_item{
    width: 33.33%; height:100%;
    float: left;
    padding: 0 5%;
    padding-bottom: 15%;
    box-sizing: border-box;
}
main section.content article.pro_list div.pro_list_item a{
    width: 100%; height: 100%;
    display: inline-block;
    position: relative;
}
main section.content article.pro_list div.pro_list_item a img{
    width: 100%;
}
main section.content article.pro_list div.pro_list_item a img.pro_list_img_back{
    position: absolute;
    top: 0; left: 0;
    display: none;
}
main section.content article.pro_list div.pro_list_item a p{
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}
main section.content article.pro_list div.item_center{
    padding-top: 5%; 
    padding-bottom: 10%;
}

main section.content div.more{
    width: 100%; height: 50px;
    clear: both;
    text-align: center;
    margin-bottom: 100px;
}
main section.content div.more a{
    height: 50px;
    display: inline-block;
}
main section.content div.more a div{
    float: left;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}
main section.content div.more a img{
    height: 30px;
    padding: 10px;
    display: inline-block;
    float: left;
}
main section.content div.more:hover{
    padding-left: 1%;
    transition-duration: 1s;
}
main section.content div.more:hover img{
    padding-left: 7%;
    transition-duration: 1s;
}


/*반응형*/

/*1200*/
@media screen and (max-width:1199px){
    main section.content {
        width: 100%;
    }
    main section.title_name article{
        font-size: 36px;
    }
}

/*768*/
@media screen and (max-width:768px){
    main section.content article.pro_lnb ul li a {
        font-size: 18px;
    }
    main section.content article.pro_list {
        padding-top: 50px;
    }
    main section.content article.pro_list div.pro_list_item {
        width: 50%;
    }
    main section.content article.pro_list div.item_center {
        padding-top: 0%;
        padding-bottom: 15%;
    }
}


/*480*/
@media screen and (max-width:480px){
    main section.content article.pro_lnb {
        padding: 50px 10% 0;
    }
    main section.content article.pro_lnb ul{
        width: 100%;
    }
    main section.content article.pro_lnb ul li {
        float: none;
    }
    main section.content article.pro_lnb ul li a {
        width: 100%;
        padding: 0 10px;
    }
    main section.content article.pro_list div.pro_list_item {
        width: 100%;
        float: none;
        padding: 0 10%;
        padding-bottom: 15%;
    }
}
